<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find My Free Time</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>ADD TO SCHEDULE</h1>
        <p id="p1"> Plan Your Schedule Elegantly</p>

        <form method="POST">

            <div class="row">

                <div class="form-group">
                    <label for="event_name">Event Name</label>
                    <input type="text"
                           id="event_name"
                           name="event_name"
                           required>
                </div>

                <div class="form-group">
                    <label for="day">Day</label>
                    <select id="day"
                            name="day"
                            required>

                        <option value="Sunday">Sunday</option>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>

                    </select>
                </div>

            </div>

            <div class="row">

                <div class="form-group">
                    <label for="start_time">Start Time</label>
                    <input type="time"
                           id="start_time"
                           name="start_time"
                           required>
                </div>

                <div class="form-group">
                    <label for="end_time">End Time</label>
                    <input type="time"
                           id="end_time"
                           name="end_time"
                           required>
                </div>

            </div>

            <button type="submit">
                Add Event
            </button>

        </form>
    <hr>

        <h2>Saved Events</h2>

        {% for event in events %}

        <div class="event-card">

        <h3>{{ event[1] }}</h3>

        <p>Day: {{ event[2] }}</p>

        <p>{{ event[3] }} - {{ event[4] }}</p>


{% endfor %}

</body>

</html>